# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Mara\Desktop\Sem1\计算机科学技术基础\hw 拼车\软微拼车v1 覃子秋 2001210655\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
